body {
  background-color: 33FFD7;
  color: 7133FF;
}

.content {
  float: left;
  padding-left: 2em;
}

nav {
  height: 100%;
  width: 10em;
  float: left;
}

nav a {
  display: block;
  float: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
}

nav a:hover {

}
